@CHARSET "UTF-8";

*{
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    margin:0;
    padding:0;
}



#header {
    width: 100%;
    height: auto;
    background-color: #333333;
    padding-bottom:20px;
}



a.fas.fa-bars.menu-icon{
    color:white;
    display:none;
    cursor:pointer;
}

.icon{
    display:none;

}

#content {
    padding: 2px 0 100px;
    background-color:white;


}

.container{
    max-width:1800px;
    width:100%;
    padding:0 20px;
    margin:0 auto;
}

.mainbox{
    padding: 3px 36px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color:#f7f7f7;
}

h1 {
    font-size: 24px;
    display: inline;

}



h2 {
    font-size: 33px;
    margin-bottom: 15px;
    display:inline-block;
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    border-right: solid 3px #d7d7d7;
    border-top: solid 3px #d7d7d7;
    border-left: solid 7px #7db4e6;
    border-bottom: solid 3px #d7d7d7;



}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 29%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
    overflow-wrap:break-word;

}

button {
    font-size: 14px;
    padding: 5px 10px;
    background-color:#3cb371;
    color:white;
}

#footer {
    text-align: center;
    width: 100%;
    background-color: #333333;
    color: white;
    position: fixed;
    bottom:0;


}
#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}
#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}
#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#poster_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}


pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

h3 {
    font-size: larger;

}
h4 {
    font-size: larger;

}
table#poster_list th {
    font-weight: bold;
    padding: 10px 2%;
}
table#poster_list th {
    width: 30%;
    padding: 10px 2%;
}

table#poster_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}
table#comic_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#comic_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#comic_list .report_date {
    width: 20%;
}

table#comic_list .report_title {
    width: 37%;
}

table#comic_list .report_action {
    width: 13%;
}
h4 {
    font-size: 16px;
    margin-bottom: 15px;
}
table#review_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#review_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#review_list .report_date {
    width: 20%;
}

table#review_list .report_title {
    width: 37%;
}

table#review_list .report_action {
    width: 13%;
}
pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1px #000000;
}
.box1 p {
    margin: 0;
    padding: 0;
}

#header_menu a{
    text-decoration: underline;
}

#poster_name a{
    text-decoration: underline;
}

a#title{
    display:inline-block;
    padding:5px 10px;
    border:1px solid;
    text-decoration:none;
    box-shadow:3px 3px 2px ;
    border-radius:4px;
    font-weight: bold;

}

.tableBody td{

    line-height:40px;
}

a.new_signUp{
    display: inline-block;
    border: 1px solid #333333;
    padding: 3px 5px;
    color: white;
    background-color: cornflowerblue;

}
#accordion_content{
   display:none;
 }


